* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background:#081f4dd6; background:linear-gradient(211deg, #329eb7, #663a7f, #237849);
    color: #fff;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(15,22,38,0) 60%, rgba(86,89,144,1) 100%),
                      url("self.png");
    background-size: 550px 800px;
    background-position: 100% 5%;
    background-repeat: no-repeat;
}
.container {
    padding: 10px 10%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    margin: 10px 30px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;  
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: #10bfe2;
}
.rotator{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 1.2em;
    cursor: pointer;
}
.rotator-inner{
    display: inline-block;
    transform: translateY(0%);
}
.rotator-inner span{
    display: block;
    line-height: 1.2em;
}
.about-col-1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(15,22,38,0) 60%, rgba(63,94,96,1) 100%),
                      url("about.png");
    background-size: 500px 750px;
    background-position: 100% -4%;
    background-repeat: no-repeat;
}
#about .about-col-1,
#about .about-col-2 {
    opacity: 0;
    transform: translateY(20px);
}
#about {
    padding: 40px 0;
    color: #000;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    color: rgb(68, 161, 197);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tab-titles{
    color:#28a796;
    font-style: oblique;
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #229713;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #e74444;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    color:#fff;
}
#para {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}